{{outlet}}
<div class="v50"></div>

<div class="row account-container">
  <div class="container">
    <div class="col s3">
      <div class="row">
        <div class="col s12">
            {{libravatar-image email=model.email secure=false class='circle'
                alt=model.account.display_name size=100 defaultImage='retro'}}
        </div>
        <div class="col s12">
          <h5>{{model.account.computed_display_name}}</h5>
          <small><i>({{model.email}})</i></small><br/>
          <small><a href="{{model.account.url}}" target="_blank">{{model.account.url}}</a></small>
          <hr/>
        </div>
        {{#if model.account.affiliations}}
        <div class="col s12">
          <div class="row">
            <div class="col s2">{{fa-icon 'link'}}</div>
            <div class="col s10">
                <ul class="sidebar-list">
                    {{#each model.account.affiliations as |affiliation|}}
                        <li><a href="{{affiliation.link}}">{{affiliation.affiliation}}</a></li>
                    {{/each}}
                </ul>
            </div>
          </div>
        </div>
        {{/if}}
        {{#if model.account.locations}}
        <div class="col s12">
          <div class="row">
            <div class="col s2">{{fa-icon 'globe'}}</div>
            <div class="col s10">
                <ul class="sidebar-list">
                    {{#each model.account.locations as |location|}}
                        <li>{{location.city}}, {{location.state}}, {{location.country}}</li>
                    {{/each}}
                </ul>
            </div>
          </div>
        </div>
        {{/if}}
        <div class="col s12">
          <div class="row">
            <div class="col s2">{{fa-icon 'language'}}</div>
            <div class="col s10">
                <ul class="sidebar-list">
                    {{#each model.account.languages as |language|}}
                        <li>{{language.common}}</li>
                    {{/each}}
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content begins here -->
    <div class="col s9">
      <div class="row">
        <div class="col s12">
          <blockquote>
            {{{model.account.bio}}}
          </blockquote>
        </div>
        {{#if model.account.intentions}}
        <div class="col s12">
          <p><i>Came here for:
            {{#each model.account.intentions as |intention|}}
              {{#md-badge class='teal lighten-4 intention-badge'}}
                {{intention.intention}} 
              {{/md-badge}}
            {{/each}}
          </i></p>
        </div> 
        {{/if}}
        <div class="col s12"> <hr/> </div>
        <div class="col s12">
          <div class="row">
            <div class="col s6">
              <b>Resources offered</b>
                <div class="collection">
                    {{#each model.resources as |resource|}}
                        <a class="collection-item">
                        {{resource.title}}
                        </a>
                    {{/each}}
                </div>
            </div>
            <div class="col s6">
              <b>Assignments given</b>
                <div class="collection">
                    {{#each model.assignments as |assignment|}}
                        <a class="collection-item">
                            {{assignment.title}}
                        </a>
                    {{/each}}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>