<div class="v50"></div>

<div class="row">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <form {{action 'register' on='submit'}}>
      {{md-input value=user.email 
        label='Email address' type='email' validate=true 
        icon='mdi-communication-email teal-text text-darken-4'}}
      {{md-input value=user.password label='Password' 
        type='password' validate=true icon='mdi-communication-vpn-key teal-text text-darken-4'}}
      {{md-input value=user.password_confirmation label='Password confirmation' 
        type='password' validate=true icon='mdi-av-replay teal-text text-darken-4'}}

      {{md-btn-submit icon='mdi-content-send'
          iconPosition='right'
          text='Register'
          class='right yellow darken-3'}}
    </form>
  </div>
</div>
